<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MathService</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Головна
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="matrix-multiplication">
                <img class="bi" src="matrix.png" /> Матричне множення
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inverse-matrix">
                <img class="bi" src="matrix.png" /> Обернена матриця
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fibonacci">
                <img class="bi" src="matrix.png" /> Числа Фібоначчі
            </NavLink>
        </div>
        
    </nav>
</div>
